@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&family=Stick+No+Bills:wght@400;438&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Stick no bills, Roboto, sans-serif;
    font-weight: 300;
}